<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Emux.Properties.Settings>
            <setting name="Repository" serializeAs="String">
                <value>https://github.com/Washi1337/Emux</value>
            </setting>
        </Emux.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Emux.Properties.Settings>
            <setting name="VideoBitmapScalingMode" serializeAs="String">
                <value>NearestNeighbor</value>
            </setting>
            <setting name="VideoStretchMode" serializeAs="String">
                <value>Uniform</value>
            </setting>
            <setting name="ForceOriginalGameBoy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GBColor0" serializeAs="String">
                <value>#FFE0F8D0</value>
            </setting>
            <setting name="GBColor1" serializeAs="String">
                <value>#FF88C070</value>
            </setting>
            <setting name="GBColor2" serializeAs="String">
                <value>#FF346856</value>
            </setting>
            <setting name="GBColor3" serializeAs="String">
                <value>#FF081820</value>
            </setting>
            <setting name="KeyBindingA" serializeAs="Xml">
                <value>
                    <Key>X</Key>
                </value>
            </setting>
            <setting name="KeyBindingSelect" serializeAs="Xml">
                <value>
                    <Key>LeftShift</Key>
                </value>
            </setting>
            <setting name="KeyBindingUp" serializeAs="Xml">
                <value>
                    <Key>Up</Key>
                </value>
            </setting>
            <setting name="KeyBindingDown" serializeAs="Xml">
                <value>
                    <Key>Down</Key>
                </value>
            </setting>
            <setting name="KeyBindingLeft" serializeAs="Xml">
                <value>
                    <Key>Left</Key>
                </value>
            </setting>
            <setting name="KeyBindingRight" serializeAs="Xml">
                <value>
                    <Key>Right</Key>
                </value>
            </setting>
            <setting name="KeyBindingStart" serializeAs="Xml">
                <value>
                    <Key>Return</Key>
                </value>
            </setting>
            <setting name="KeyBindingB" serializeAs="Xml">
                <value>
                    <Key>Z</Key>
                </value>
            </setting>
        </Emux.Properties.Settings>
    </userSettings>
</configuration>